<% 
    def link_to(name, url)
      return "<a href='#{url}'>'#{name}'</a>"
    end
%>

<html>
  <body>
    <h1>Anoop Joshi</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <%= link_to('This is a link to Google','http://www.google.co.uk') %>
      <%= link_to('This is a link to the News','http://news.bbc.co.uk') %>
      <%= link_to('This is a link to a Tech site','http://www.arstechnica.com') %>
     </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> </h3>
      <p>copyright 2014</p>
    </div>
  </body>
</html>